<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">No</th>
      <th scope="col">Nama Artis</th>
      <th scope="col">Gambar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Jim Carey</td>
      <td><%= image_tag 'http://google.com/search?tbm=isch&q=James+Carrey' %></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Hugh Jackman</td>
      <td><%= image_tag 'https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FHugh_Jackman&psig=AOvVaw3TzTQRP5NB4OV0nXbPfOJI&ust=1594652818338000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJC9iO_-x-oCFQAAAAAdAAAAABAD' %></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Dwayne Johnson</td>
      <td><%= image_tag 'https://www.google.com/url?sa=i&url=https%3A%2F%2Fbarbaraiweins.com%2Fdwayne-johnson-net-worth%2F&psig=AOvVaw3IOXNEhFa2nY6Mq4DkK7g0&ust=1594652878187000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNjqrIX_x-oCFQAAAAAdAAAAABAE' %></td>
    </tr>
  </tbody>
</table>
