<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">No</th>
      <th scope="col">Judul Kartun</th>
      <th scope="col">Gambar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>My Neighbor Totoro</td>
      <td><%= image_tag 'https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.imdb.com%2Ftitle%2Ftt0096283%2F&psig=AOvVaw2smpwnzA-9L9oxTrcOrbYL&ust=1594652954757000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCODDzqz_x-oCFQAAAAAdAAAAABAD' %></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>My Hero Academia</td>
      <td><%= image_tag 'https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.amazon.com%2FAcademia-Premium-Todoroki-Banpresto-Memorabilia%2Fdp%2FB083G4YQD7&psig=AOvVaw3WDx5L2p2c-FRxZAsgxQyl&ust=1594653076481000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNCg5eX_x-oCFQAAAAAdAAAAABAD' %></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>One Piece</td>
      <td><%= image_tag 'https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.tokopedia.com%2Fronde20shop%2Fwallpaper-one-piece&psig=AOvVaw3hmVPQ5H-aa2dCRwyOcpMC&ust=1594653175087000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMCOjqWAyOoCFQAAAAAdAAAAABAD' %></td>
    </tr>
    <tr>
    	<td colspan="2">
    		<button type="button" class="btn btn-primary btn-lg btn-block"><%= link_to "Back", {controller: "demo", action: "index"} %></button>
    	</td>
    </tr>
  </tbody>
</table>
